body {
	width:800px;
    margin:auto;
    color:#1c1c1c;
}

/* Header */
#header {
    text-align:center;
    font-size:2.3em;
}

/* Content */
#content{
    text-align:justify;
}

#content p {
    text-indent:30px;
}

#content a {
    text-decoration:none;
    font-weight:bold;
    color:#002254;
}

#content a:hover {
    text-decoration:underline;
}

form {
	text-align: center;
}

textarea {
    width : 100%;
    height : 600px;
}

.edit_link {
    float: right;
    border-left : 1px solid #002254;
    border-bottom : 1px solid #002254;

}

/* Footer */
#footer {
    text-align:center;
    font-size:0.8em;
    font-weight:bold;
}

#footer a {
    text-decoration:none;
    color:#1c1c1c;
}

/* On the footer side... */
#footer p:before {content:"| ";}
#footer p:after {content:" |";}
