<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>wiki title</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<link rel="stylesheet" media="screen" href="/static/main.css"/>
	</head>
    <body>
        <div id="header">
            <h1>My Awesome Wiki</h1>
        </div>
		<div id="content">
			<h1>Edition of "{{name}}"</h1>
			<p>Type your content inthe text area below :</p>
			<form method="post" action="" enctype="multipart/form-data">
				<textarea name="content">
					{{content}}
				</textarea>
				<p><input type="submit" value="Send !"/></p>
			</form>
        </div>
        <div id="footer">
            <p>powered by <a href="https://github.com/Matael/kiss-bottle-wiki">kbw</a></p>
        </div>
	</body>
</html>

